<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="static/assets/favicon.ico">

        <title>Andrew's Site</title>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

        <!-- Cover Styling -->
        <link href="static/css/custom.css" rel="stylesheet">

        <!-- Google Captcha -->
        <script src="https://www.google.com/recaptcha/api.js"></script>

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body data-spy="scroll" data-target=".navbar" data-offset="50">
        <!-- Navbar -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>

        <div class="navbar-fixed-top">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, messages in messages %}
                    <div class="alert alert-{{ category }}">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{ category.capitalize() }}!</strong> {{ messages }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>

        <!-- Cover page -->
        <div class="site-wrapper" id="home">
            <div class="site-wrapper-inner">
                <div class="cover-container">
                    <div class="masthead clearfix">
                        <div class="inner"></div>
                    </div>

                    <div class="inner cover">
                        <h1 class="cover-heading">Andrew Lubawy</h1>
                        <p class="lead">Student | Hacker | Nerd | Cook</p>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <a href="#about" class="btn btn-link hvr-grow">
                                <img src="static/assets/down_arrow.png" class="center-block">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- About Page -->
        <div class="container-fluid text-center bg-1" id="about">
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <img src="static/assets/profile.jpg" class="img-circle img-responsive center-block">
            </div>
            <div class="col-md-6">
                <h2>
                    Hello! I'm Andrew Lubawy.
                </h2>
                <p class="lead">
                    Student of electrical engineering and programmer. Hacker in the traditional sense through and through. I enjoy taking things apart and learning what makes something tick. I also enjoy creating things, so if you need something, I'll happily try and build it for you.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Skills Page -->
        <div class="container-fluid text-center bg-2" id="skills">
            <h2>Skills</h2>
            <br>
            <div class="col-md-2"></div>
            <div class="col-md-2">
                <img src="../static/assets/embedded.jpeg" class="img-rounded" width="200" height="200">
                <p class="lead">
                    Embedded systems design with hardware programming proficiency in C and Verilog HDL.
                </p>
            </div>
            <div class="col-md-2">
                <img src="../static/assets/full_stack.jpeg" class="img-rounded" width="200" height="200">
                <p class="lead">
                    Full stack development. Backend programming with Django, Rails, and Flask. Frontend programming with JavaScript, HTML, and CSS.
                </p>
            </div>
            <div class="col-md-2">
                <img src="../static/assets/circuit.jpeg" class="img-rounded" width="200" height="200">
                <p class="lead">
                    Circuit design and debugging. Experince with soldering, oscilloscopes, multimeters, and software defined debugging tools.
                </p>
            </div>
            <div class="col-md-2">
                <img src="../static/assets/code.jpeg" class="img-rounded" width="200" height="200">
                <p class="lead">
                    Software development and object oriented language proficiency with Python, Java, C++, and Ruby.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>

        <!-- Contact Page -->
        <div class="container-fluid text-center bg-3" id="contact">
            <h2>Contact Me</h2>
            <br>
            <form role="form" action="{{ url_for('_contact') }}" method="POST">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Jane Doe" required="true">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" placeholder="jdoe@example.com" required="true">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea class="form-control" rows="5" name="message"></textarea>
                    </div>
                    <div class="g-recaptcha form-group" data-sitekey="6LfD0yUTAAAAAESK9J9ClkeW3QzpF8D-Dfpnd05y"></div>
                    <input class="btn btn-default active" type="submit" value="Submit">
                </div>
                <div class="col-md-4"></div>
            </form>
        </div>

        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <div class="col-md-5"></div>
                <div class="col-md-2">
                    <div class="btn-group">
                        <a type="button" class="btn btn-link" href="https://github.com/dlubawy" target="_blank">
                            <img src="static/assets/github_icon.png" class="img-responsive center-block">
                        </a>
                        <a type="button" class="btn btn-link" href="https://www.linkedin.com/in/andrewlubawy" target="_blank">
                            <img src="static/assets/linkedin_icon.png" class="img-responsive center-block">
                        </a>
                    </div>
                </div>
                <div class="col-md-5"></div>
            </div>
            <div class="container">
                <p class="small text-muted">Site built by myself.</p>
            </div>
        </footer>
    </body>
</html>
